<mission_data version="1.0">
    <start>
        <!-- <create type="player" x="50000" y="0" z="50000" name="Artemis" /> -->


        <set_difficulty_level value="10" />
        <set_skybox_index index="4" />
        <set_object_property property="nebulaIsOpaque" value="0" />
        <set_object_property property="sensorSetting" value="1" />
        <set_object_property property="nonPlayerSpeed" value="100" />
        <set_object_property property="nonPlayerShield" value="100" />
        <set_object_property property="nonPlayerWeapon" value="100" />
        <set_object_property property="playerWeapon" value="100" />
        <set_object_property property="playerShields" value="100" />

        <big_message title="Iron Sun" subtitle1="by Kosai" subtitle2="version 0.1" />

        <create count="150" type="asteroids" startAngle="0" endAngle="90" startX="64014.0" startY="0.0" startZ="29861.0" radius="20000" randomRange="10000" />
        <create count="30" type="nebulas" nebType="2" startX="53634.0" startY="0.0" startZ="85709.0" radius="5000" randomRange="5000" />
        <create count="15" type="nebulas" nebType="3" startAngle="90" endAngle="180" startX="67336.0" startY="0.0" startZ="67854.0" radius="20000" randomRange="10000" />
        <create count="20" type="nebulas" startAngle="-90" endAngle="90" startX="70866.0" startY="0.0" startZ="25086.0" radius="10000" randomRange="20000" />
        <create count="40" type="nebulas" nebType="1" startAngle="180" endAngle="270" startX="6713.0" startY="0.0" startZ="55605.0" radius="30000" randomRange="20000" />
        <create count="20" type="asteroids" startAngle="90" endAngle="270" startX="26436.0" startY="0.0" startZ="73460.0" radius="15000" randomRange="10000" />
        <create count="50" type="asteroids" startAngle="180" endAngle="270" startX="2353.0" startY="0.0" startZ="5363.0" radius="15000" randomRange="5000" />
        <create count="30" type="nebulas" startAngle="90" endAngle="270" startX="76679.0" startY="0.0" startZ="79065.0" radius="20000" randomRange="10000" />


        <create type="enemy" hullID="1250" x="14187.0" y="0.0" z="15536.0" name="Asteroid Base" sideValue="1" />


        <create type="genericMesh" x="92872.0" y="-2100.0" z="50207.0" name="Terra Noua" 
            meshFileName="dat\TSN\USFP\marker.dxs" textureFileName="dat\TSN\USFP\marker.png"
            colorRed="0.0" colorGreen="0.2" colorBlue="0.7" />
        <set_ship_text name="Terra Noua" scan_desc="Earth-like planet. Population: 20 bil." />

        <create type="genericMesh" x="100.0" y="0.0" z="100.0" angle="0" name="PA" meshFileName="dat\TSN\Planets\planet8.dxs" textureFileName="dat\TSN\Planets\pm1.png" fakeShieldsFront="1" fakeShieldsRear="1" hasFakeShldFreq="1" colorRed="0.0" colorGreen="0.2" colorBlue="0.7" />
        <set_object_property property="pushRadius" value="1.0" name="PA" />
        <set_object_property property="artScale" value="8.0" name="PA" />
        <create type="genericMesh" x="100.0" y="2.0" z="100.0" angle="0" name="PB" meshFileName="dat\TSN\Planets\planet8.dxs" textureFileName="dat\TSN\Planets\pm2.png" fakeShieldsFront="1" fakeShieldsRear="1" hasFakeShldFreq="1" colorRed="0.0" colorGreen="0.2" colorBlue="0.7" />
        <set_object_property property="artScale" value="8.0" name="PB" />
        <set_object_property property="pushRadius" value="1.0" name="PB" />
        <create type="genericMesh" x="100.0" y="4.0" z="100.0" angle="0" name="PC" meshFileName="dat\TSN\Planets\planet8.dxs" textureFileName="dat\TSN\Planets\pm3.png" fakeShieldsFront="1" fakeShieldsRear="1" hasFakeShldFreq="1" colorRed="0.0" colorGreen="0.2" colorBlue="0.7" />
        <set_object_property property="pushRadius" value="1.0" name="PC" />
        <set_object_property property="artScale" value="8.0" name="PC" />
        <create type="genericMesh" x="100.0" y="6.0" z="100.0" angle="0" name="PD" meshFileName="dat\TSN\Planets\planet8.dxs" textureFileName="dat\TSN\Planets\pm4.png" fakeShieldsFront="1" fakeShieldsRear="1" hasFakeShldFreq="1" colorRed="0.0" colorGreen="0.2" colorBlue="0.7" />
        <set_object_property property="pushRadius" value="1.0" name="PD" />
        <set_object_property property="artScale" value="8.0" name="PD" />
        <create type="genericMesh" x="100.0" y="8.0" z="100.0" angle="0" name="PE" meshFileName="dat\TSN\Planets\planet8.dxs" textureFileName="dat\TSN\Planets\pm5.png" fakeShieldsFront="1" fakeShieldsRear="1" hasFakeShldFreq="1" colorRed="0.0" colorGreen="0.2" colorBlue="0.7" />
        <set_object_property property="pushRadius" value="1.0" name="PE" />
        <set_object_property property="artScale" value="8.0" name="PE" />
        <create type="genericMesh" x="100.0" y="10.0" z="100.0" angle="0" name="PF" meshFileName="dat\TSN\Planets\planet8.dxs" textureFileName="dat\TSN\Planets\pm6.png" fakeShieldsFront="1" fakeShieldsRear="1" hasFakeShldFreq="1" colorRed="0.0" colorGreen="0.2" colorBlue="0.7" />
        <set_object_property property="pushRadius" value="1.0" name="PF" />
        <set_object_property property="artScale" value="8.0" name="PF" />
        <create type="genericMesh" x="100.0" y="12.0" z="100.0" angle="0" name="PG" meshFileName="dat\TSN\Planets\planet8.dxs" textureFileName="dat\TSN\Planets\pm7.png" fakeShieldsFront="1" fakeShieldsRear="1" hasFakeShldFreq="1" colorRed="0.0" colorGreen="0.2" colorBlue="0.7" />
        <set_object_property property="pushRadius" value="1.0" name="PG" />
        <set_object_property property="artScale" value="8.0" name="PG" />
        <create type="genericMesh" x="100.0" y="14.0" z="100.0" angle="0" name="PH" meshFileName="dat\TSN\Planets\planet8.dxs" textureFileName="dat\TSN\Planets\pm8.png" fakeShieldsFront="1" fakeShieldsRear="1" hasFakeShldFreq="1" colorRed="0.0" colorGreen="0.2" colorBlue="0.7" />
        <set_object_property property="pushRadius" value="1.0" name="PH" />
        <set_object_property property="artScale" value="8.0" name="PH" />
        <set_relative_position name2="PA" distance="2000" angle="0.0" name1="Terra Noua" />
        <set_relative_position name2="PB" distance="2000" angle="45.0" name1="Terra Noua" />
        <set_relative_position name2="PC" distance="2000" angle="90.0" name1="Terra Noua" />
        <set_relative_position name2="PD" distance="2000" angle="135.0" name1="Terra Noua" />
        <set_relative_position name2="PE" distance="2000" angle="180.0" name1="Terra Noua" />
        <set_relative_position name2="PF" distance="2000" angle="225.0" name1="Terra Noua" />
        <set_relative_position name2="PG" distance="2000" angle="270.0" name1="Terra Noua" />
        <set_relative_position name2="PH" distance="2000" angle="315.0" name1="Terra Noua" />
        <set_object_property property="positionY" value="-2100.0" name="PA" />
        <set_object_property property="positionY" value="-2100.0" name="PB" />
        <set_object_property property="positionY" value="-2100.0" name="PC" />
        <set_object_property property="positionY" value="-2100.0" name="PD" />
        <set_object_property property="positionY" value="-2100.0" name="PE" />
        <set_object_property property="positionY" value="-2100.0" name="PF" />
        <set_object_property property="positionY" value="-2100.0" name="PG" />
        <set_object_property property="positionY" value="-2100.0" name="PH" />
        <set_object_property property="angle" value="6.283185307" name="PA" />
        <set_object_property property="angle" value="7.068583471" name="PB" />
        <set_object_property property="angle" value="7.853981634" name="PC" />
        <set_object_property property="angle" value="8.639379797" name="PD" />
        <set_object_property property="angle" value="3.141590654" name="PE" />
        <set_object_property property="angle" value="3.926990817" name="PF" />
        <set_object_property property="angle" value="4.71238898" name="PG" />
        <set_object_property property="angle" value="5.497787144" name="PH" />
        <set_ship_text name="PA" newname=" " />
        <set_ship_text name="PB" newname=" " />
        <set_ship_text name="PC" newname=" " />
        <set_ship_text name="PD" newname=" " />
        <set_ship_text name="PE" newname=" " />
        <set_ship_text name="PF" newname=" " />
        <set_ship_text name="PG" newname=" " />
        <set_ship_text name="PH" newname=" " />

        
        <get_object_property name="Terra Noua" property="positionX" variable="TerraNouaX" /> 
        <get_object_property name="Terra Noua" property="positionY" variable="TerraNouaY" /> 
        <get_object_property name="Terra Noua" property="positionZ" variable="TerraNouaZ" /> 

        <create type="genericMesh" x="TerraNouaX - 90000" y="-1000.0" z="TerraNouaZ" name="Iron Sun" 
            meshFileName="dat\TSN\USFP\marker.dxs" textureFileName="dat\TSN\Caltron\shipHull13.png"
            colorRed="1.0" colorGreen="0.0" colorBlue="0.0" />
        <set_object_property property="artScale" value="20.0" name="Iron Sun" />
        <set_object_property property="pushRadius" value="2200.0" name="Iron Sun" />
        <set_object_property property="speed" value="0.2" name="Iron Sun" />
        <direct name="Iron Sun" targetName="Terra Noua" scriptThrottle="0.3" />

        <!-- Adding Shuttles -->
        {%- for shuttle in shuttles %}
        <set_player_carried_type player_slot="{{loop.index-1}}" bay_slot="0" hullID="102" name="{{shuttle}}" />
            {%- for cargoType,cargoName in cargoTypes.items() %}
        <set_variable name="{{shuttle}}Cargo{{cargoType}}" value="0" integer="yes" />
            {%- endfor %}
        {%- endfor %}


        <set_relative_position player_slot2="0" distance="4200" angle="0.0" name1="HQ" />
        <set_relative_position player_slot2="1" distance="4200" angle="45.0" name1="HQ" />
        <set_relative_position player_slot2="2" distance="4200" angle="90.0" name1="HQ" />
        <set_relative_position player_slot2="3" distance="4200" angle="135.0" name1="HQ" />
        <set_relative_position player_slot2="4" distance="4200" angle="180.0" name1="HQ" />
        <set_relative_position player_slot2="5" distance="4200" angle="225.0" name1="HQ" />
        <set_relative_position player_slot2="6" distance="4200" angle="270.0" name1="HQ" />
        <set_relative_position player_slot2="7" distance="4200" angle="315.0" name1="HQ" />


        <!-- A bunch of state tracking -->

        <set_timer name="Post init timer" seconds="1"/>
        <set_variable name="Initted" value="0" integer="yes" />

        <set_variable name="Fleetnumber" randomIntLow="0" randomIntHigh="97" integer="yes" />

        <set_variable name="Wave" value="0" integer="yes" />

        <set_timer name="Iron Sun distance timer" seconds="60" />

        <get_object_property name="Iron Sun" property="positionX" variable="IronSunLastX" /> 
        <get_object_property name="Iron Sun" property="positionY" variable="IronSunLastY" /> 
        <get_object_property name="Iron Sun" property="positionZ" variable="IronSunLastZ" /> 

        <set_variable name="GameOverRange" value="3000.0" integer="no" />
        <set_variable name="IronSunShrinkedIter" value="0" integer="yes" />

        <set_variable name="InformedAboutKugelblitz" value="0" integer="yes" />

        <set_variable name="GasMiningTime" value="70.0" integer="no" />
        <set_variable name="MineralMiningTime" value="60.0" integer="no" />

        <set_timer name="Plasma drill update pos timer" seconds="1" />
        <set_timer name="PD Site update pos timer" seconds="1" />
        <set_timer name="Kugelblitz generator update pos timer" seconds="1" />
        <set_timer name="KB Site update pos timer" seconds="1" />

        
        {%- for spawnerName,spawner in spawners.items() %}
        <set_timer name="{{spawnerName}}spawner timer" seconds="1" />
        {%- endfor %}
        <!-- Artificially delay first asteroid base spawn -->
        <set_timer name="Asteroid Basespawner timer" seconds="60" /> 
    
    </start>

    <event name="Iron Sun distance report" >
        <log text="Iron Sun distance report" />

        <if_timer_finished name="Iron Sun distance timer"/>

        <get_object_property name="Iron Sun" property="positionX" variable="IronSunCurrentX" />
        <get_object_property name="Iron Sun" property="positionY" variable="IronSunCurrentY" />
        <get_object_property name="Iron Sun" property="positionZ" variable="IronSunCurrentZ" />

        <set_variable name="TerraNouaDestructionDist" value="TerraNouaX-IronSunCurrentX-GameOverRange" integer="no" />
        <set_variable name="IronSunSpeed" value="(IronSunCurrentX-IronSunLastX)/60.0" integer="no" />
        <set_variable name="IronSunEtaMin" value="(TerraNouaDestructionDist/IronSunSpeed)/60.0" integer="no" />

        <log text="IronSunCurrentX |IronSunCurrentX|" />
        <log text="IronSunLastX |IronSunLastX|" />
        <log text="Iron Sun distance to Terra Noua |TerraNouaDestructionDist|" />
        <log text="Iron Sun speed |IronSunSpeed|" />
        <log text="IronSunEtaMin |IronSunEtaMin|" />

        <incoming_comms_text from="HQ" sideValue="2" type="STATION">Iron Sun ETA: |IronSunEtaMin| minutes.</incoming_comms_text>

        <set_timer name="Iron Sun distance timer" seconds="60" />
        <get_object_property name="Iron Sun" property="positionX" variable="IronSunLastX" />
        <get_object_property name="Iron Sun" property="positionY" variable="IronSunLastY" />
        <get_object_property name="Iron Sun" property="positionZ" variable="IronSunLastZ" />

    </event>

    <event name="Post init" >
        <log text="Post init" />

        <if_timer_finished name="Post init timer"/>
        <if_variable name="Initted" comparator="EQUALS" value="0.0" />

        <set_timer name="Initted" seconds="10" />

        <set_variable name="Initted" value="1" integer="yes" />
        <set_variable name="KugelblitzConstructed" value="0" integer="yes" />

        <set_variable name="HQCargo0" value="10" integer="yes" />
        <set_variable name="HQCargo1" value="10" integer="yes" />
        <set_variable name="HQCargo2" value="10" integer="yes" />
        <set_variable name="HQCargo3" value="10" integer="yes" />

        <!-- Below for dev only -->
        <set_variable name="ShipyardCargo0" value="10" integer="yes" />
        <set_variable name="ShipyardCargo1" value="10" integer="yes" />
        <set_variable name="ShipyardCargo2" value="10" integer="yes" />
        <set_variable name="ShipyardCargo3" value="10" integer="yes" />

        <set_variable name="Mineral processorCargo0" value="10" integer="yes" />
        <set_variable name="Mineral processorCargo1" value="10" integer="yes" />
        <set_variable name="Mineral processorCargo2" value="10" integer="yes" />
        <set_variable name="Mineral processorCargo3" value="10" integer="yes" />

        <set_variable name="Gas refineryCargo0" value="10" integer="yes" />
        <set_variable name="Gas refineryCargo1" value="10" integer="yes" />
        <set_variable name="Gas refineryCargo2" value="10" integer="yes" />
        <set_variable name="Gas refineryCargo3" value="10" integer="yes" />

        <set_variable name="ArmoryCargo0" value="10" integer="yes" />
        <set_variable name="ArmoryCargo1" value="10" integer="yes" />
        <set_variable name="ArmoryCargo2" value="10" integer="yes" />
        <set_variable name="ArmoryCargo3" value="10" integer="yes" />

        <set_variable name="Research facilityCargo0" value="10" integer="yes" />
        <set_variable name="Research facilityCargo1" value="10" integer="yes" />
        <set_variable name="Research facilityCargo2" value="10" integer="yes" />
        <set_variable name="Research facilityCargo3" value="10" integer="yes" />

        <set_variable name="Nuclear labCargo0" value="10" integer="yes" />
        <set_variable name="Nuclear labCargo1" value="10" integer="yes" />
        <set_variable name="Nuclear labCargo2" value="10" integer="yes" />
        <set_variable name="Nuclear labCargo3" value="10" integer="yes" />

        <set_variable name="Research LabCargo0" value="10" integer="yes" />
        <set_variable name="Research LabCargo1" value="10" integer="yes" />
        <set_variable name="Research LabCargo2" value="10" integer="yes" />
        <set_variable name="Research LabCargo3" value="10" integer="yes" />

        <set_variable name="Gravitational wave detectorCargo0" value="10" integer="yes" />
        <set_variable name="Gravitational wave detectorCargo1" value="10" integer="yes" />
        <set_variable name="Gravitational wave detectorCargo2" value="10" integer="yes" />
        <set_variable name="Gravitational wave detectorCargo3" value="10" integer="yes" />

        <set_variable name="Neutrino detectorCargo0" value="10" integer="yes" />
        <set_variable name="Neutrino detectorCargo1" value="10" integer="yes" />
        <set_variable name="Neutrino detectorCargo2" value="10" integer="yes" />
        <set_variable name="Neutrino detectorCargo3" value="10" integer="yes" />

        <set_variable name="Plasma drillCargo0" value="10" integer="yes" />
        <set_variable name="Plasma drillCargo1" value="10" integer="yes" />
        <set_variable name="Plasma drillCargo2" value="10" integer="yes" />
        <set_variable name="Plasma drillCargo3" value="10" integer="yes" />

        <set_variable name="ProteusCargo0" value="10" integer="yes" />
        <set_variable name="ProteusCargo1" value="10" integer="yes" />
        <set_variable name="ProteusCargo2" value="10" integer="yes" />
        <set_variable name="ProteusCargo3" value="10" integer="yes" />
    </event>

    

    <!-- Meta -->
    
    <event name="GM Move" >
        <if_gm_key keyText="M" />
        <set_to_gm_position use_gm_selection=" " distance="0" angle="0.0" />
    </event>

    <event name="GM Destroy" >
        <if_gm_key keyText="D" />
        <destroy use_gm_selection=" "  />
    </event>

    <event name="Fleet number overflow" >
        <log text="Fleet number overflow" />

        <if_variable name="Fleetnumber" comparator="GREATER_EQUAL" value="98.0" />
        <set_variable name="Fleetnumber" value="0" integer="yes" />
    </event>

    <event name="Iron Sun reaches Terra Noua" >
        <log text="Iron Sun reaches Terra Noua" />

        <if_distance name1="Iron Sun" name2="Terra Noua" comparator="LESS" value="GameOverRange" />
        <if_variable name="Iron Sun Fired" comparator="EQUALS" value="0" />

        <create count="50" type="mines" startX="92872.0" startY="0.0" startZ="50207.0" radius="5000" randomRange="5000" />

        <set_ship_text name="Terra Noua" scan_desc="Uninhabitable planet. Population: 0" />

        <warning_popup_message message="Iron Sun reached Terra Noua; mission lost" consoles="MHWESCO" />

        <set_variable name="Iron Sun Fired" value="1.0" integer="yes" />
        <set_timer name="Mission end timer" seconds="20" />
    </event>


    <event name="HQ destroyed" >
        <log text="HQ destroyed" />

        <if_timer_finished name="Initted" />
        <if_variable name="Initted" comparator="EQUALS" value="1.0" />

        <set_variable name="Initted" value="2" integer="yes" />

        <if_not_exists name="HQ" />

        <warning_popup_message message="HQ destroyed; mission lost" consoles="MHWESCO" />
        <set_timer name="Mission end timer" seconds="20" />
    </event>

    <event name="Iron Sun destroyed" >
        <log text="Iron Sun destroyed" />

        <if_not_exists name="Iron Sun" />
        <if_variable name="Initted" comparator="EQUALS" value="1.0" />

        <set_variable name="Initted" value="2" integer="yes" />

        <warning_popup_message message="Iron Sun destroyed; mission successful" consoles="MHWESCO" />
        <set_timer name="Mission end timer" seconds="20" />
    </event>

    <event name="Mission ends" >
        <log text="Mission ends" />

        <if_timer_finished name="Mission end timer" />
        <end_mission />
    </event>


    <event name="Kugelblitz generator countdown start" >
        <log text="Kugelblitz generator countdown start" />

        <if_exists name="Kugelblitz generator" />
        <if_variable name="KugelblitzConstructed" comparator="EQUALS" value="0.0" />
        <if_variable name="IronSunShrinkedIter" comparator="EQUALS" value="0.0" />

        <warning_popup_message message="Get away from the Kugelblitz generator!" consoles="MHWESCO" />
        <incoming_comms_text from="HQ" sideValue="2" type="STATION">Get away from the Kugelblitz generator!</incoming_comms_text>

        <set_variable name="KugelblitzConstructed" value="1" integer="yes" />
        <set_timer name="BlackHoleCreationTimer" seconds="10" />
    </event>

    <event name="Kugelblitz fired" >
        <log text="Kugelblitz fired" />

        <if_exists name="Kugelblitz generator" />
        <if_timer_finished name="BlackHoleCreationTimer" />

        <if_variable name="IronSunShrinkedIter" comparator="EQUALS" value="0.0" />

        <get_object_property name="Kugelblitz generator" property="positionX" variable="KugelblitzX" />
        <get_object_property name="Kugelblitz generator" property="positionY" variable="KugelblitzY" />
        <get_object_property name="Kugelblitz generator" property="positionZ" variable="KugelblitzZ" />

        <create type="blackHole" x="KugelblitzX" y="0.0" z="KugelblitzZ" />
        <create type="ge" x="KugelblitzX" y="0.0" z="KugelblitzZ" name="Kugelblitz" />
        <create type="genericMesh" x="KugelblitzX" y="0.0" z="KugelblitzZ" name="Kugelblitz" 
            meshFileName="dat\TSN\USFP\marker.dxs" textureFileName="dat\TSN\USFP\marker.png"
            colorRed="0.0" colorGreen="0.2" colorBlue="0.7" />

        <set_object_property property="speed" value="1.0" name="Iron Sun" />
        <direct name="Iron Sun" targetName="Kugelblitz" scriptThrottle="1.0" />

        <set_timer name="IronSunShrinks" seconds="1" />
        <set_variable name="IronSunShrinkedIter" value="1" integer="yes" />
    </event>

    <event name="Iron Sun shrinks">
        <log text="Iron Sun shrinks" />

        <if_timer_finished name="IronSunShrinks" />
        
        <set_timer name="IronSunShrinks" seconds="1" />
        <set_variable name="IronSunShrinkedIter" value="IronSunShrinkedIter+1" integer="yes" />

        <get_object_property name="Iron Sun" property="artScale" variable="IronSunArtScale" />
        <set_object_property property="artScale" value="IronSunArtScale-1.5" name="Iron Sun" />
    </event>

    <event name="Iron Sun shrinked to 0">
        <log text="Iron Sun shrinked to 0" />

        <if_variable name="IronSunShrinkedIter" comparator="EQUALS" value="10.0" />
        
        <destroy name="Iron Sun" />
    </event>

    <event name="Kugelblitz failed, maybe destroyed - reset" >
        <log text="Kugelblitz failed, maybe destroyed - reset" />

        <if_exists name="Kugelblitz generator" />
        <if_timer_finished name="BlackHoleCreationTimer" />

        <set_variable name="IronSunShrinkedIter" value="0" integer="yes" />
        <set_variable name="KugelblitzConstructed" value="0" integer="yes" />
    </event>

    <!-- Shuttle brings cargo to construction site -->
    {%- for siteName,site in sites.items() %}
        {%- for cargoType,cargoNum in site.constructionRequirements.items() %}
            {%- if cargoNum > 0 %}
                {%- for shuttle in shuttles %}
    <event name="{{shuttle}} brings {{cargoType}} to {{siteName}}" >
        <log text="{{shuttle}} brings {{cargoType}} to {{siteName}}" />

        <if_distance name1="{{shuttle}}" name2="{{site.constructionSiteName}}" comparator="LESS" value="500.0" />
        <if_variable name="{{shuttle}}Cargo{{cargoType}}" comparator=">" value="0.0" />

        {%- for requirement in site.requires_exist %}
        <if_exists name="{{requirement}}" />
        {%- endfor %}

        <set_variable name="{{shuttle}}Cargo{{cargoType}}" value="{{shuttle}}Cargo{{cargoType}}-1" integer="yes" />
        <set_variable name="{{siteName}}Cargo{{cargoType}}" value="{{shuttle}}Cargo{{cargoType}}+1" integer="yes" />
        <set_ship_text name="{{site.constructionSiteName}}" race="Terran" scan_desc="{{site.desc}} Construction status: {{cargoTypes[1]}}: |{{siteName}}Cargo1|/{{site.constructionRequirements[0]}}. {{cargoTypes[2]}}: |{{siteName}}Cargo2|/{{site.constructionRequirements[1]}}. {{cargoTypes[3]}}: |{{siteName}}Cargo3|/{{site.constructionRequirements[2]}}" />

        <incoming_comms_text from="{{shuttle}}" sideValue="2" type="STATUS">{{shuttle}} delivered {{cargoTypes[cargoType]}} to {{site.constructionSiteName}}. 
            Current cargo: {{cargoTypes[1]}}: |{{shuttle}}Cargo1|. {{cargoTypes[2]}}: |{{shuttle}}Cargo2|. {{cargoTypes[3]}}: |{{shuttle}}Cargo3|.
        </incoming_comms_text>
        <log text="{{shuttle}} delivered {{cargoTypes[cargoType]}} to {{site.constructionSiteName}}. Current cargo: {{cargoTypes[1]}}: |{{shuttle}}Cargo1|. {{cargoTypes[2]}}: |{{shuttle}}Cargo2|. {{cargoTypes[3]}}: |{{shuttle}}Cargo3|." />
    </event>
                {%- endfor %}
            {%- endif %}
        {%- endfor %}
    {% endfor %}

    <!-- Shuttle picks up cargo -->
    {%- for cargoType,cargoName in cargoTypes.items() %}
        {%- for shuttle in shuttles %}
    <event name="{{shuttle}} picks up {{cargoType}}" >
        <log text="{{shuttle}} picks up {{cargoType}}" />

        <if_distance name1="{{shuttle}}" name2="{{cargoName}}" comparator="LESS" value="500.0" />

        <set_variable name="{{shuttle}}Cargo{{cargoType}}" value="{{shuttle}}Cargo{{cargoType}}+1" integer="yes" />

        <destroy name="{{cargoName}}" />

        <incoming_comms_text from="{{shuttle}}" sideValue="2" type="STATUS">{{shuttle}} picked up {{cargoTypes[cargoType]}}. 
            Current cargo: {{cargoTypes[1]}}: |{{shuttle}}Cargo1|. {{cargoTypes[2]}}: |{{shuttle}}Cargo2|. {{cargoTypes[3]}}: |{{shuttle}}Cargo3|.
        </incoming_comms_text>
        <log text="{{shuttle}} picked up {{cargoTypes[cargoType]}}. Current cargo: {{cargoTypes[1]}}: |{{shuttle}}Cargo1|. {{cargoTypes[2]}}: |{{shuttle}}Cargo2|. {{cargoTypes[3]}}: |{{shuttle}}Cargo3|." />
    </event>
        {%- endfor %}
    {% endfor %}

    <!-- Common site logic -->
    {%- for siteName,site in sites.items() %}
    <event name="{{siteName}} constructed" >
        <log text="{{siteName}} constructed" />

        <if_not_exists name="{{siteName}}" />

        {%- for cargoType,cargoNum in site.constructionRequirements.items() %}
        <if_variable name="{{siteName}}Cargo{{cargoType}}" comparator="GREATER_EQUAL" value="{{cargoNum}}" />
        {%- endfor %}

        <create type="{{site.type}}" x="{{site.x}}" y="{{site.y}}" z="{{site.z}}" name="{{siteName}}" hullID="{{site.hullId}}" sideValue="2" />
        <destroy name="{{site.constructionSiteName}}" />

        <set_ship_text name="{{siteName}}" race="Terran" scan_desc="{{site.desc}}" />

        <incoming_comms_text from="{{siteName}}" sideValue="2" type="STATION">{{site.onConstructedComms}}</incoming_comms_text> 

        <set_object_property name="{{siteName}}" property="canBuild" value="0.0"/>
        <set_object_property name="{{siteName}}" property="missileStoresHoming" value="0"  />
        <set_object_property name="{{siteName}}" property="missileStoresNuke" value="0"  />
        <set_object_property name="{{siteName}}" property="missileStoresMine" value="0"  />
        <set_object_property name="{{siteName}}" property="missileStoresEMP" value="0"  />
        <set_object_property name="{{siteName}}" property="missileStoresPShock" value="0"  />
        <set_object_property name="{{siteName}}" property="missileStoresTag" value="0"  />
        <set_object_property name="{{siteName}}" property="missileStoresBeacon" value="0"  />
        <set_object_property name="{{siteName}}" property="missileStoresProbe" value="0"  />
        <set_object_property name="{{siteName}}" property="missileStoresProbe" value="0"  />
        <set_object_property name="{{siteName}}" property="throttle" value="0"  />
        <set_object_property name="{{siteName}}" property="topSpeed" value="0"  />
    
        <clear_ai name="{{siteName}}" />
        <add_ai type="DIR_THROTTLE" value1="0" value2="0.0" name="{{siteName}}" />
    

        {%- for cargoType,cargoNum in site.constructionRequirements.items() %}
        <set_variable name="{{siteName}}Cargo{{cargoType}}" value="0" integer="yes" />
        {%- endfor %}

        {%- for portType,port in site.ports.items() %}
            <create type="genericMesh" name="{{port.portName}}" sideValue="0" meshFileName="dat\TSN\USFP\marker.dxs" textureFileName="dat\TSN\USFP\marker.png" />
            <set_relative_position name2="{{port.portName}}" distance="500" angle="{{port.angle}}" name1="{{siteName}}" />
            <set_object_property property="pushRadius" value="0.0" name="{{port.portName}}" />
            <set_timer name="{{port.portName}}CooldownTimer" seconds="1" />
            <set_timer name="{{port.portName}}ConfigureTimer" seconds="1" />
            <set_ship_text name="{{port.portName}}" race="Terran" scan_desc="{{port.desc}}" />
        {%- endfor %}

        <set_timer name="{{siteName}}ProdTimer" seconds="{{site.producesEvery}}" />
    </event>

        {%- for portType,port in site.ports.items() %}
    <event name="{{port.portName}} configure">
        <!-- <log text="{{port.portName}} configure" /> -->

        <if_timer_finished name="{{port.portName}}ConfigureTimer" />

        <set_object_property property="pushRadius" value="0.0" name="{{port.portName}}" />
        <set_relative_position name2="{{port.portName}}" distance="500" angle="{{port.angle}}" name1="{{siteName}}" />

        <set_timer name="{{port.portName}}ConfigureTimer" seconds="10" />
    </event>

            {%- for shuttle in shuttles %}
    <event name="{{shuttle}} brings {{portType}} to port {{port.portName}}" >
        <log text="{{shuttle}} brings {{portType}} to port {{port.portName}}" />
    
        <if_distance name1="{{shuttle}}" name2="{{port.portName}}" comparator="LESS" value="500.0" />
        <if_timer_finished name="{{port.portName}}CooldownTimer" />
        <if_variable name="{{shuttle}}Cargo{{portType}}" comparator=">" value="0.0" />

        <set_variable name="{{shuttle}}Cargo{{portType}}" value="{{shuttle}}Cargo{{portType}}-1" integer="yes" />
        <set_variable name="{{port.var}}" value="1.0" integer="yes" />

        <set_timer name="{{port.portName}}CooldownTimer" seconds="10" />

        <incoming_comms_text from="{{shuttle}}" sideValue="2" type="STATUS">{{shuttle}} brought {{cargoTypes[portType]}} to {{port.portName}} port. 
            Current cargo: {{cargoTypes[1]}}: |{{shuttle}}Cargo1|. {{cargoTypes[2]}}: |{{shuttle}}Cargo2|. {{cargoTypes[3]}}: |{{shuttle}}Cargo3|.
        </incoming_comms_text>
        <log text="{{shuttle}} brought {{cargoTypes[portType]}} to {{port.portName}} port. Current cargo: {{cargoTypes[1]}}: |{{shuttle}}Cargo1|. {{cargoTypes[2]}}: |{{shuttle}}Cargo2|. {{cargoTypes[3]}}: |{{shuttle}}Cargo3|." />

    </event>
            {%- endfor %}
        {%- endfor %}

    <event name="{{siteName}} destroyed" >
        <log text="{{siteName}} destroyed" />

        <if_not_exists name="{{siteName}}" />
        <if_not_exists name="{{site.constructionSiteName}}" />
        {%- for requirement in site.requires_exist %}
        <if_exists name="{{requirement}}" />
        {%- endfor %}

        <create type="genericMesh" x="{{site.x}}" y="{{site.y}}" z="{{site.z}}" name="{{site.constructionSiteName}}" sideValue="0" meshFileName="dat\TSN\USFP\marker.dxs" textureFileName="dat\TSN\USFP\marker.png" />
        <set_object_property property="pushRadius" value="0.0" name="{{site.constructionSiteName}}" />

        {%- for portType,port in site.ports.items() %}
        <destroy name="{{port.portName}}" />
        {%- endfor %}

        <set_ship_text name="{{site.constructionSiteName}}" race="Terran" scan_desc="{{site.desc}} Construction status: {{cargoTypes[1]}}: |{{siteName}}Cargo1|/{{site.constructionRequirements[0]}}. {{cargoTypes[2]}}: |{{siteName}}Cargo2|/{{site.constructionRequirements[1]}}. {{cargoTypes[3]}}: |{{siteName}}Cargo3|/{{site.constructionRequirements[2]}}." />

        <set_timer name="{{site.constructionSiteName}}ConfigureTimer" seconds="1" />
    </event>
    <event name="{{site.constructionSiteName}} configure" >
        <!-- <log text="{{site.constructionSiteName}} configure" /> -->

        <if_timer_finished name="{{site.constructionSiteName}}ConfigureTimer" />

        <set_object_property property="pushRadius" value="0.0" name="{{site.constructionSiteName}}" />
        <set_object_property property="rollDelta" value="-0.2" name="{{site.constructionSiteName}}" />
        <set_object_property property="angleDelta" value="0.05" name="{{site.constructionSiteName}}" />

        <set_timer name="{{site.constructionSiteName}}ConfigureTimer" seconds="10" />
    </event>

        {%- if site.producesCargo != 0 %}
    <event name="{{siteName}} starts {{site.producesCargo}}" >
        <log text="{{siteName}} starts {{site.producesCargo}}" />

        <if_exists name="{{siteName}}" />
        <if_not_exists name="{{cargoTypes[site.producesCargo]}}" />
        <if_variable name="{{siteName}}Producing" comparator="EQUALS" value="0.0" />

        <set_timer name="{{siteName}}ProdTimer" seconds="{{site.producesEvery}}" />
        <set_variable name="{{siteName}}Producing" value="1.0" integer="yes" />
    </event>
    <event name="{{siteName}} produces {{site.producesCargo}}" >
        <log text="{{siteName}} produces {{site.producesCargo}}" />

        <if_exists name="{{siteName}}" />
        <if_not_exists name="{{cargoTypes[site.producesCargo]}}" />
        <if_variable name="{{siteName}}Producing" comparator="EQUALS" value="1.0" />
        <if_timer_finished name="{{siteName}}ProdTimer" />

        <create type="genericMesh" x="{{site.x}}" y="{{site.y}}" z="{{site.z}}-500" name="{{cargoTypes[site.producesCargo]}}" sideValue="0" meshFileName="dat\TSN\USFP\marker.dxs" textureFileName="dat\TSN\USFP\marker.png" />
        <set_object_property property="pushRadius" value="0.0" name="{{cargoTypes[site.producesCargo]}}" />

        <set_variable name="randomAngle" randomIntLow="0" randomIntHigh="360" />
        <set_relative_position name2="{{cargoTypes[site.producesCargo]}}" distance="500" angle="randomAngle" name1="{{siteName}}" />

        <set_variable name="{{siteName}}Producing" value="0.0" integer="yes" />

        <set_timer name="{{cargoTypes[site.producesCargo]}}ConfigureTimer" seconds="1" />
    </event>

    <event name="{{cargoTypes[site.producesCargo]}} configure" >
        <!-- <log text="{{cargoTypes[site.producesCargo]}} configure" /> -->

        <if_timer_finished name="{{cargoTypes[site.producesCargo]}}ConfigureTimer" />

        <set_object_property property="pushRadius" value="0.0" name="{{cargoTypes[site.producesCargo]}}" />
        <set_object_property property="rollDelta" value="-0.2" name="{{cargoTypes[site.producesCargo]}}" />
        <set_object_property property="angleDelta" value="0.05" name="{{cargoTypes[site.producesCargo]}}" />

        <set_timer name="{{cargoTypes[site.producesCargo]}}ConfigureTimer" seconds="10" />
    </event>
        {%- endif %}
    {% endfor %}


    

    <event name="Shipyard produces light fleet">
        <log text="Shipyard produces light fleet fleetnumber=|Fleetnumber|" />

        <if_variable name="makeLightFleet" comparator="EQUALS" value="1.0" />
        
        <create type="enemy" name="New TSN 1" hullID="1" sideValue="2" fleetnumber="Fleetnumber" />
        <create type="enemy" name="New TSN 2" hullID="1" sideValue="2" fleetnumber="Fleetnumber" />
        <create type="enemy" name="New TSN 3" hullID="0" sideValue="2" fleetnumber="Fleetnumber" />

        <set_variable name="randomAngle" randomIntLow="0" randomIntHigh="360" />
        <set_relative_position name2="New TSN 1" distance="1500" angle="randomAngle" name1="Shipyard" />
        <set_variable name="randomAngle" randomIntLow="0" randomIntHigh="360" />
        <set_relative_position name2="New TSN 2" distance="1500" angle="randomAngle" name1="Shipyard" />
        <set_variable name="randomAngle" randomIntLow="0" randomIntHigh="360" />
        <set_relative_position name2="New TSN 3" distance="1500" angle="randomAngle" name1="Shipyard" />

        <set_variable name="makeLightFleet" value="0.0" integer="yes" />

        <set_variable name="handleNewFleet" value="1.0" integer="yes" />
    </event>


    <event name="Shipyard produces heavy fleet">
        <log text="Shipyard produces heavy fleet fleetnumber=|Fleetnumber|" />

        <if_variable name="makeHeavyFleet" comparator="EQUALS" value="1.0" />

        <create type="enemy" name="New TSN 1" hullID="2" sideValue="2" fleetnumber="Fleetnumber" />
        <create type="enemy" name="New TSN 2" hullID="2" sideValue="2" fleetnumber="Fleetnumber" />
        <create type="enemy" name="New TSN 3" hullID="4" sideValue="2" fleetnumber="Fleetnumber" />

        <set_variable name="randomAngle" randomIntLow="0" randomIntHigh="360" />
        <set_relative_position name2="New TSN 1" distance="1500" angle="randomAngle" name1="Shipyard" />
        <set_variable name="randomAngle" randomIntLow="0" randomIntHigh="360" />
        <set_relative_position name2="New TSN 2" distance="1500" angle="randomAngle" name1="Shipyard" />
        <set_variable name="randomAngle" randomIntLow="0" randomIntHigh="360" />
        <set_relative_position name2="New TSN 3" distance="1500" angle="randomAngle" name1="Shipyard" />

        <set_variable name="makeHeavyFleet" value="0.0" integer="yes" />

        <set_variable name="handleNewFleet" value="1.0" integer="yes" />
    </event>

    <event name="Armory produces torpedos">
        <log text="Armory produces torpedos" />
        <if_variable name="makeTorpedos" comparator="EQUALS" value="1.0" />
        <addto_object_property property="missileStoresHoming" value="10" name="Armory" />
        <set_variable name="makeTorpedos" value="0.0" integer="yes" />
    </event>
    <event name="Armory produces pshocks">
        <log text="Armory produces pshocks" />
        <if_variable name="makePShocks" comparator="EQUALS" value="1.0" />
        <addto_object_property property="missileStoresPShock" value="5" name="Armory" />
        <set_variable name="makePShocks" value="0.0" integer="yes" />
    </event>
    <event name="Armory produces EMP">
        <log text="Armory produces EMP" />
        <if_variable name="makeEMPs" comparator="EQUALS" value="1.0" />
        <addto_object_property property="missileStoresEMP" value="2" name="Armory" />
        <set_variable name="makeEMPs" value="0.0" integer="yes" />
    </event>

    <event name="Nuclear lab produces mines">
        <log text="Nuclear lab produces mines" />
        <if_variable name="makeMines" comparator="EQUALS" value="1.0" />
        <addto_object_property property="missileStoresMine" value="2" name="Nuclear lab" />
        <set_variable name="makeMines" value="0.0" integer="yes" />
    </event>
    <event name="Nuclear lab produces nukes">
        <log text="Nuclear lab produces nukes" />
        <if_variable name="makeNukes" comparator="EQUALS" value="1.0" />
        <addto_object_property property="missileStoresNuke" value="2" name="Nuclear lab" />
        <set_variable name="makeNukes" value="0.0" integer="yes" />
    </event>


    {%- for i in range(100) %}
    <event name="Handle new fleet {{i}}" >
        <log text="Handle new fleet {{i}}" />

        <if_variable name="handleNewFleet" comparator="EQUALS" value="1.0" />
        <if_variable name="Fleetnumber" comparator="EQUALS" value="{{i}}" />

        {%- for j in range(3) %}
        <clear_ai name="New TSN {{j+1}}" />
        <add_ai name="New TSN {{j+1}}" type="TRY_TO_BECOME_LEADER"  />
        <add_ai name="New TSN {{j+1}}" type="CHASE_AI_SHIP" value1="3000" value2="500" />
        <add_ai name="New TSN {{j+1}}" type="CHASE_STATION" value1="100000"  />
        <add_ai name="New TSN {{j+1}}" type="CHASE_ANGER"  />
        <add_ai name="New TSN {{j+1}}" type="LEADER_LEADS"  />
        <add_ai name="New TSN {{j+1}}" type="FOLLOW_LEADER"  />
        <add_ai name="New TSN {{j+1}}" type="LAUNCH_FIGHTERS" value1="8000" />
        <add_ai name="New TSN {{j+1}}" type="FOLLOW_COMMS_ORDERS"  />
        <set_ship_text name="New TSN {{j+1}}" newname="{{tsnShipNames[3*i+j]}}" />
        {% endfor %}

        {%- for j in range(4) %}
        <clear_ai name="New Caltron {{j+1}}" />
        <add_ai name="New Caltron {{j+1}}" type="TRY_TO_BECOME_LEADER"  />
        <add_ai name="New Caltron {{j+1}}" type="CHASE_STATION" value1="200000"  />
        <add_ai name="New Caltron {{j+1}}" type="CHASE_AI_SHIP" value1="50000" value2="500" />
        <add_ai name="New Caltron {{j+1}}" type="CHASE_STATION" value1="3000"  />
        <add_ai name="New Caltron {{j+1}}" type="CHASE_AI_SHIP" value1="5000" value2="500" />
        <add_ai name="New Hegemony {{j+1}}" type="CHASE_PLAYER" value1="4000" value2="1500"  />
        <add_ai name="New Caltron {{j+1}}" type="FOLLOW_COMMS_ORDERS"  />
        <add_ai name="New Caltron {{j+1}}" type="LAUNCH_FIGHTERS" value1="6000"/>
        <set_ship_text name="New Caltron {{j+1}}" newname="{{caltronShipPrefixes[(4*i+j) % caltronShipPrefixes|length]}}{{caltronShipInfixes[(4*i+j) % caltronShipInfixes|length]}}{{caltronShipInfixes[(4*i+2) % caltronShipInfixes|length]}}{{caltronShipSuffixes[(4*i+j) % caltronShipSuffixes|length]}}" />
        {% endfor %}

        {%- for j in range(7) %}
        <clear_ai name="New Hegemony {{j+1}}" />
        <add_ai name="New Hegemony {{j+1}}" type="SPCL_AI"  />
        <add_ai name="New Hegemony {{j+1}}" type="TRY_TO_BECOME_LEADER"  />
        <add_ai name="New Hegemony {{j+1}}" type="CHASE_PLAYER"  />
        <add_ai name="New Hegemony {{j+1}}" type="CHASE_AI_SHIP"  />
        <add_ai name="New Hegemony {{j+1}}" type="CHASE_STATION"  />
        <add_ai name="New Hegemony {{j+1}}" type="CHASE_PLAYER" value1="4000" value2="1500"  />
        <add_ai name="New Hegemony {{j+1}}" type="CHASE_ANGER"  />
        <add_ai name="New Hegemony {{j+1}}" type="LEADER_LEADS" />
        <add_ai name="New Hegemony {{j+1}}" type="FOLLOW_LEADER"  />
        <add_ai name="New Hegemony {{j+1}}" type="LAUNCH_FIGHTERS" value1="6000"/>
        <add_ai name="New Hegemony {{j+1}}" type="CHASE_AI_SHIP" value1="50000" value2="1500"  />
        <add_ai name="New Hegemony {{j+1}}" type="CHASE_STATION" value1="50000" />
        <set_ship_text name="New Hegemony {{j+1}}" newname="{{hegShipNames[3*i+j]}}" />
        {% endfor %}

        <set_variable name="handleNewFleet" value="0.0" />
        <set_variable name="Fleetnumber" value="Fleetnumber+1" integer="yes" />
    </event>
    {% endfor %}

    <!-- Waves logic -->
    {%- for wave in waves %}
    <event name="Spawning wave {{loop.index-1}}" >
        <log text="Spawning Wave {{loop.index-1}}" />

        <if_distance name1="Iron Sun" name2="Terra Noua" comparator="LESS" value="{{wave.atDistance}}" />
        <if_variable name="Wave" comparator="EQUALS" value="{{loop.index-1}}" />

        {%- if 'hail' in wave %}
        <incoming_comms_text from="Iron Sun" sideValue="2" type="ENEMY">{{wave.hail}}</incoming_comms_text>
        {%- endif %}

        {%- if 'spawnAt' in wave %}
        <get_object_property name="{{wave.spawnAt}}" property="positionX" variable="posX" /> 
        <get_object_property name="{{wave.spawnAt}}" property="positionZ" variable="posZ" /> 
        {%- endif %}

        {%- for hull in wave.hulls %}
            {%- if 'spawnAt' in wave %}
        <create type="enemy" name="New {{wave.nameList}} {{loop.index}}" x="posX" y="0" z="posZ" hullID="{{hull}}" sideValue="{{wave.sideValue}}" fleetnumber="Fleetnumber" />
            {%- else %}
        <create type="enemy" name="New {{wave.nameList}} {{loop.index}}" x="{{wave.x}}" y="{{wave.y}}" z="{{wave.z}}" hullID="{{hull}}" sideValue="{{wave.sideValue}}" fleetnumber="Fleetnumber" />
            {%- endif %}
            {%- if wave.overrideName is defined %}
        <set_ship_text name="New {{wave.nameList}} {{loop.index}}" newname="{{wave.overrideName}}" />
            {%- endif %}
        {%- endfor %}

        <set_variable name="handleNewFleet" value="1.0" integer="yes" />

        <set_variable name="Wave" value="{{loop.index-1+1}}" integer="yes" />
    </event>
    {% endfor %}

    <!-- Respawn points -->
    {%- for spawnerName,spawner in spawners.items() %}
    <event name="{{spawnerName}} respawn fleet" >
        <log text="{{spawnerName}} respawn fleet" />

        <if_exists name="{{spawnerName}}" />
        <if_timer_finished name="{{spawnerName}}spawner timer" />
 
        <incoming_comms_text from="HQ" sideValue="2" type="STATION">{{spawner.commsFromHQ}}</incoming_comms_text>

        <get_object_property name="{{spawnerName}}" property="positionX" variable="posX" /> 
        <get_object_property name="{{spawnerName}}" property="positionZ" variable="posZ" /> 

        {%- for hull in spawner.hulls %}
        <create type="enemy" name="New {{spawner.nameList}} {{loop.index}}" x="posX" y="0" z="posZ" hullID="{{hull}}" sideValue="{{spawner.sideValue}}" fleetnumber="Fleetnumber" />
        {%- endfor %}

        <set_variable name="handleNewFleet" value="1.0" integer="yes" />

        <set_timer name="{{spawnerName}}spawner timer" seconds="{{spawner.every}}" />
    </event>
    {% endfor %}

    <!-- Moving mission objectives -->
    <event name="Plasma drill update pos" >
        <!-- <log text="Plasma drill update pos" /> -->

        <if_exists name="Plasma drill" />
        <if_timer_finished name="Plasma drill update pos timer" />

        <set_relative_position name2="Plasma drill" distance="2200" angle="180.0" name1="Iron Sun" />
        <set_timer name="Plasma drill update pos timer" seconds="1" />
    </event>
    <event name="PD Site site update pos" >
        <!-- <log text="PD Site site update pos" /> -->

        <if_exists name="PD Site" />
        <if_timer_finished name="PD Site update pos timer" />

        <set_relative_position name2="PD Site" distance="2200" angle="180.0" name1="Iron Sun" />

        <set_timer name="PD Site update pos timer" seconds="1" />
    </event>
    <event name="Kugelblitz generator update pos" >
        <!-- <log text="Kugelblitz generator update pos" /> -->

        <if_exists name="Kugelblitz generator" />
        <if_timer_finished name="Kugelblitz generator update pos timer" />

        <set_relative_position name2="Kugelblitz generator" distance="2200" angle="0.0" name1="Iron Sun" />

        <set_timer name="Kugelblitz generator update pos timer" seconds="1" />
    </event>
    <event name="KB Site update pos" >
        <!-- <log text="KB Site update pos" /> -->

        <if_exists name="KB Site" />
        <if_timer_finished name="KB Site update pos timer" />

        <set_relative_position name2="KB Site" distance="2200" angle="0.0" name1="Iron Sun" />

        <set_timer name="KB Site update pos timer" seconds="1" />
    </event>


    <event name="Inform about Kugelblitz research" >
        <if_variable name="InformedAboutKugelblitz" comparator="EQUALS" value="0" />

        <if_exists name="Research facility" />
        <if_exists name="Gravitational wave detector" />
        <if_exists name="Neutrino detector" />
        <if_exists name="Plasma drill" />

        <incoming_comms_text from="Research facility" sideValue="2" type="STATION">We have found a weakness in Iron Sun! Stability of spacetime fabric around it is favorable for creating an artificial blackhole by focusing hypercooled lasers on a singular point - a Kugelblitz! Construct a Kugelblitz generator at Iron Sun's surface. Keep all sensors alive until the black hole is created.</incoming_comms_text>

        <set_variable name="InformedAboutKugelblitz" value="1" integer="yes" />
    </event>

    <!-- Mine speedups -->
    <event name="Both mining rigs exist" >
        <log text="Both mining rigs exist" />

        <if_exists name="Mining rig A" />
        <if_exists name="Mining rig B" />

        <set_variable name="MineralMiningTime" value="20.0" integer="no" />
    </event>
    <event name="Only mining rig A exists" >
        <log text="Only mining rig A exists" />

        <if_exists name="Mining rig A" />
        <if_not_exists name="Mining rig B" />

        <set_variable name="MineralMiningTime" value="40.0" integer="no" />
    </event>
    <event name="Only mining rig B exists" >
        <log text="Only mining rig B exists" />

        <if_exists name="Mining rig B" />
        <if_not_exists name="Mining rig A" />

        <set_variable name="MineralMiningTime" value="40.0" integer="no" />
    </event>

    <event name="Both Gas collectors exist" >
        <log text="Both Gas collectors exist" />

        <if_exists name="Gas collector A" />
        <if_exists name="Gas collector B" />

        <set_variable name="GasMiningTime" value="30.0" integer="no" />
    </event>
    <event name="Only Gas collector A exists" >
        <log text="Only Gas collector A exists" />

        <if_exists name="Gas collector A" />
        <if_not_exists name="Gas collector B" />

        <set_variable name="GasMiningTime" value="50.0" integer="no" />
    </event>
    <event name="Only Gas collector B exists" >
        <log text="Only Gas collector B exists" />

        <if_exists name="Gas collector B" />
        <if_not_exists name="Gas collector A" />

        <set_variable name="GasMiningTime" value="50.0" integer="no" />
    </event>



</mission_data>
